
  @font-face {
      font-family: 'Treasure-Map';
      src: url(./fonts/treasure-map-40513/Treasuremap-Ea1vj.ttf) format('truetype');
      font-weight: normal;
      font-style: normal;
  }

.App {
  text-align: center;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: radial-gradient(circle, rgba(63,219,223,1) 17%, rgba(148,187,233,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
